@import "~bootstrap/dist/css/bootstrap.min.css";
@import "../colour-variables.scss";

.custom-navbar {
  background-color: $whale-light-blue;
}

.custom-navbar .nav-link {
  color: $whale-main-blue;
}

.line {
  width: 30px;
  height: 3px;
  background-color: $hamburger-line-bkg;
}

.hamburger {
  position: absolute;
  top: 0px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  outline: none;
}

.hamburger:focus,
.hamburger:active,
.hamburger:hover {
  outline: none;
}

.side-menu-hidden {
  display: none;
}

.side-menu-shown {
  z-index: 100;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: $whale-light-blue;
  opacity: 90%;
  gap: 30px;
}
